<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bo.express_love.repository.Demo_2Mapper">
    <resultMap id="Demo_2_map" type="java.util.HashMap" >
        <!--<result  column="email" property="email" />-->
        <!--<result  column="me" property="me" />-->
        <!--<result  column="you" property="you" />-->
        <!--<result  column="title" property="title" />-->
        <!--<result  column="success_word" property="success_word" />-->
        <!--<result  column="fail_word" property="fail_word" />-->
    </resultMap>

    <select id="SelectDemo_21"  resultType="Demo_2">
        select * from self_demo_2
        <where>
            <if test="email!=null">
                and  email = #{email}
            </if>
        </where>
    </select>
    <select id="SelectDemo_22"  resultMap="Demo_2_map">
        select * from custom_demo_2
        <where>
            <if test="email!=null">
                and  email = #{email}
            </if>
        </where>
    </select>
    <insert id="AddDemo_21" parameterType="Demo_2">
        insert self_demo_2(me,you,title,success_word,fail_word,email) values(#{me},#{you},#{title},#{success_word},#{fail_word},#{email})
    </insert>

    <insert id="AddDemo_22"  parameterType="map">
         insert into custom_demo_2(email,me,you,title,success_word,fail_word,p1,p2,p3,p4,p5,p6,p7,p8,p9,p10,p11,p12,p13,p14,p15,p16,p17,p18,p19,p20,p21,p22,p23,p24,p25,p26,p27,p28,p29,p30,p31,p32,p33,p34,p35,p36,p37,p38,p39,p40,p41,p42,p43,p44,p45,p46,p47,p48,p49,p50,p51,p52,p53,p54,p55) values(#{email},#{me},#{you},#{title},#{success_word},#{fail_word},#{a1},#{a2},#{a3},#{a4},#{a5},#{a6},#{a7},#{a8},#{a9},#{a10},#{a11},#{a12},#{a13},#{a14},#{a15},#{a16},#{a17},#{a18},#{a19},#{a20},#{a21},#{a22},#{a23},#{a24},#{a25},#{a26},#{a27},#{a28},#{a29},#{a30},#{a31},#{a32},#{a33},#{a34},#{a35},#{a36},#{a37},#{a38},#{a39},#{a40},#{a41},#{a42},#{a43},#{a44},#{a45},#{a46},#{a47},#{a48},#{a49},#{a50},#{a51},#{a52},#{a53},#{a54},#{a55})
    </insert>
</mapper>