<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bo.express_love.repository.UserDemoMapper">
    <resultMap id="User_demo_map" type="User_demo">
        <result column="demo_type" property="type"/>
        <result column="user_email" property="email"/>
    </resultMap>
    <select id="ListDemo" resultMap="User_demo_map">
        select * from user_demo
        <where>
            <if test="email!=null">
                and  user_email = #{email}
            </if>
            <if test="type!=null">
                and  demo_type = #{type}
            </if>
        </where>
    </select>
    <select id="ListDemo_2" resultMap="User_demo_map">
        select * from user_demo
        <where>
            <if test="email!=null">
                and  user_email = #{email}
            </if>
            <if test="type!=null">
                and  demo_type like concat('%',#{type},'%')
            </if>
        </where>
    </select>
    <insert id="addDemo" parameterType="User_demo">
        insert user_demo(user_email,demo_type) values(#{email},#{type})
    </insert>

</mapper>